* {
    box-sizing: border-box;
    scroll-behavior: smooth;

}



body {

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* flex-wrap: wrap;*/
    background-size: cover;

    background-color: white;

}

















header {
    display: flex;
    justify-content: space-between;
    background-color: #130f43;
    align-items: center;
    height: 90px;


}


#logo {

    font-size: x-large;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 6%;
    white-space: nowrap;


}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navigation {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-right: 12%;
    color: white;
    font-size: 20px;
    height: 100%;
    margin-left: 12%;

}

#navigation a {
    display: flex;
    flex-direction: column;
    height: inherit;
    text-decoration: none;
    color: white;
    justify-content: center;
    white-space: nowrap;
    padding-left: 3%;
    padding-right: 3%;

}



#navigation a:hover {
    background-color: #cbcbc7;

}




#menuToggle {

    display: none;
}



.menu-icon {

    display: none;
}

#menu {
    width: 100%;
    display: flex;
    justify-content: space-around;

    color: white;
    font-size: 20px;
    height: 100%;

}


@media screen and (max-width: 800px) {


    #logo {
        width: 18%;
        margin-right: 12%;
        display: block;
    }

    #navigation {
        width: 100%;

        display: flex;
        flex-direction: column;
        height: inherit;
        text-decoration: none;
        color: white;
        justify-content: center;
        white-space: nowrap;
        padding-left: 3%;
        padding-right: 3%;


    }

    #navigation #menu {
        max-height: 0;
        display: block;
        position: absolute;
        top: 90px;
        left: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.8s;
        -moz-transition: max-height 0.8s;
        -ms-transition: max-height 0.8s;
        -o-transition: max-height 0.8s;
        transition: max-height 0.8s;

    }


    #navigation #menu a {

        text-align: left;
        width: 100%;
        height: 60px;
        background-color: #130f43;
        padding: 10px 0px 10px 5%;



    }



    #navigation #menu a:hover {

        background-color: #cbcbc7;


    }

    .menu-icon {
        height: 40px;
        width: 102x;
        display: block;

        position: absolute;
        top: 28px;
        right: 12%;

        line-height: 50px;
    }


    #menuToggle:checked~#menu {

        max-height: 360px;

    }






    @keyframes slowRotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}





    #menuToggle:checked~.menu-icon {


        /* transform: rotate(90deg);
        transition: rotate 0.5s ease-in-out; */
        animation:slowRotation ease-in-out;

    }


 
    


}

































/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/



#home {
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    background-color: #130f43;
    align-items: center;
    font-size: 20px;

    -ms-overflow-style: none;
    scrollbar-width: none;
    /* margin-bottom: 200px;
    margin-top: 40px; */

    /* background-image: url(assets/download.jpg); */




    background-image: url(assets/Untitled\ design\ \(4\).png);

    /* background-repeat: no-repeat;
    background-size: 100%; */

    background-size: cover;

    /* height: 200%;
    width: 100%; */

    /* height:auto; */
}



#home::-webkit-scrollbar {
    display: none;

}




#homeImage {
    border-radius: 100%;
    height: 400px;
    width: 400px;
    /* margin-right:120px; */
    min-width: 20px;
    margin-top: 16px;
    border-style: solid;
    border-width: 4px;
    cursor: pointer;
    /* height: 1200px;
    width: 3000px; */
}


#homeImage>img:hover {
    border-style: solid;
    border-color: #130f43;
    border-width: 8px;


}



.quote {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 16px;


}



.quote::-webkit-scrollbar {
    display: none;

}









/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/




#aboutMe {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 80%; */


    /* z-index: -3; */

}


#aboutMe>div {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */

    /* margin-top: 8%; */

    color: #130f43;
    /* height: 800px; */
    /* margin-right: 0.8%;
    margin-left: 0.8%; */
}

#aboutMe div div {
    display: flex;
    flex-direction: column;



}






/* #aboutMe>div {
    margin-top: 4%;


} */



#aboutMe>div:nth-child(1) {
    margin-top: 8%;
    flex-wrap: wrap;
    /* background-color:cadetblue; */

}


#aboutMe>div:nth-child(2) {
    margin-top: 15%;
    margin-bottom: 12%;

    flex-wrap: wrap;

}



#aboutMe>div:nth-child(1)>div:nth-child(1) {
    /* background-color: aqua; */

    /* background-color: aqua; */

    width: 300px;
    justify-content: flex-start;

    align-items: flex-start;
    margin-left: 8%;

}


#aboutMe>div:nth-child(1)>div:nth-child(1)>h1 {
    margin-top: 12%;
}

#aboutMe>div:nth-child(1)>div:nth-child(1)>h2 {
    margin-top: 6%;
    margin-left: 4%;

}




#aboutMe>div:nth-child(1)>div:nth-child(1)>p {
    font-size: large;

    margin-left: 12%;
    width: 96%;
}









/* #aboutMe div:nth-child(1) div:nth-child(2) p {

color: #130f43;
} */
























#aboutMe>div:nth-child(1)>div:nth-child(2) {

    /* position: relative; */
    /* background-color: #130f43; */
    display: flex;
    justify-content: center;
    height: 600px;
    width: 600px;
    /* z-index: -2; */
    align-items: center;
    margin-right: 6%;
    margin-left: 3%;


}





#image {
    /* position: absolute;
    top: 233px;
    left: 22%; */

    width: 90%;
    height: auto;

}





/* hr {
    border: 0;
    display: block;
    width: 96%;
    background-color: #130f43;
    height: 12px;
    border-radius: 80px;
} */




#aboutMe>div:nth-child(2)>div:nth-child(2) {
    /* background-color: aqua; */
    padding-top: 4%;
    /* background-color: aqua; */
    width: 300px;
    justify-content: flex-start;

    align-items: flex-start;
    margin-left: 8%;

}






#aboutMe>div:nth-child(2)>div:nth-child(2) p {
    margin-left: 12%;
    width: 96%;
    font-size: large;

}









/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/





#contact img {

    width: 200px;
    height: 200px;
}


#contact img:hover {
    /* border-radius: 100%;
border-style: solid;
border-width: 8px;
border-color: #130f43; */


    width: 220px;
    height: 220px;
    /* width:300px;
height:300px; */

}








/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/




.linearOne {
    height: 30px;
    background-image: linear-gradient(#cbcbc7, white);


}


.linearTwo {
    height: 30px;
    background-image: linear-gradient(white, #cbcbc7);
}













/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/










/* #technologies {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    background-color: #130f43;
    align-items: center;
    font-size: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 200px;
    margin-top: 40px;


display: flex;
flex-direction: column;
justify-content: space-around;

    background-image: url(assets/download.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    


}



#technologiesTitle {

    margin-left: 11%;
    margin-top: 8%;

}





#frontend {
    font-family: chewy;
    font-weight: bold;
    font-size: larger;
    display: flex;
    margin-left: 15%;


}




#backend {
    font-family: chewy;
    font-weight: bold;
    font-size: larger;
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;

} */



/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/


/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////*/





@media only screen and (max-width: 800px) {
    #aboutMe div:nth-child(1) div:nth-child(2) {

        margin-right: 12%;
    }

}











































/* .hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation.left::after {
    transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
    transform-origin: bottom left;
} */













/* * {
    box-sizing: border-box;
    scroll-behavior: smooth;

}



body {

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* flex-wrap: wrap;*/



/* background-size: cover;

    background-color: white;

} */




/*






header {
    display: flex;
    justify-content: space-between;
    background-color: #130f43;
    align-items: center;
    height: 90px;


}


#logo {

    font-size: x-large;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 6%;
    white-space: nowrap;


}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navigation {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-right: 12%;
    color: white;
    font-size: 20px;
    height: 100%;
    margin-left: 12%;

}

#navigation a {
    display: flex;
    flex-direction: column;
    height: inherit;
    text-decoration: none;
    color: white;
    justify-content: center;
    white-space: nowrap;
    padding-left: 3%;
    padding-right: 3%;

}



#navigation a:hover {
    background-color: #cbcbc7;

}




#menuToggle {

    display: none;
}



.menu-icon {

    display: none;
}

#menu {
    width: 100%;
    display: flex;
    justify-content: space-around;

    color: white;
    font-size: 20px;
    height: 100%;

}


@media screen and (max-width: 830px) {


    #navigation {
        height: auto;
        width: 100%;

    }

    #navigation #menu {

        max-height: 0;
        display: block;
        overflow: hidden;
        -webkit-transition: max-height 0.3s;
        -moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
        transition: max-height 0.3s;
    }


    #navigation #menu a {

        text-align: left;
        width: 100%;
        height: 60px;
        background-color: #cbcbc4;


    }


    menu-icon {
        height: inherit;
        width: 90px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 50px;
    }


    #menuToggle:checked~#menu {

        max-height: 360px;

    } */


/* }  */